/* src/components/Header.css */
.header {
    background-color: black;
    color: white;
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* Centrado vertical */
    height: 95vh;
    /* 100% del alto de la ventana */
    margin: 0;
    /* Eliminamos el margen para que ocupe todo el espacio vertical */
}

.header h1 {
    margin: 0;
}

@keyframes shine {

    0%,
    100% {
        text-shadow: 0 0 10px #D2B48C, 0 0 20px #D2B48C, 0 0 30px #D2B48C;
    }

    50% {
        text-shadow: none;
    }
}

.golden-title {
    font-family: 'Great Vibes', cursive;
    font-size: 70px;
    color: white;
    animation: shine 2s infinite;
}

.letter-title {
    font-family: 'Amatic SC', cursive;
    font-size: 70px;
    color: #D2B48C;
}