@import '../../../../scss/index.scss';

.footer-news {
    width: 33.33%;

    >h4 {
        color: $text-light;
        margin-bottom: 20px;
    }

    .success {
        color: $success;
        text-align: center;
        font-size: 12px;
    }
}