.header {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 0.75rem;
    background: rgb(255, 165, 0);
    background: linear-gradient(180deg, rgba(255, 165, 0, 1) 0%, rgba(255, 165, 0, 0.7036064425770308) 100%);
}