/* App.css */


body {
  background-color: black;
}

/* src/App.css */
.marco {
  margin: 15px;
  padding: 0;
  border: 5px solid #FFDF00;
  /* Color del marco */
}

.App {
  position: relative;
  overflow: hidden;
}